NEXT_PUBLIC_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_RPC=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_ENVIO_GRAPHQL=http://localhost:8080/v1/graphql
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PROVIDERS_URL=http://localhost:4020
